{% extends "/layout/base.html" %}

{% block content %}
<div class="container card p-0">
    <!-- Card header -->
    <h1 class="card-header text-center">Add user to career</h1>

    <!-- Card body -->
    <div class="card-body p3">
        {% if message %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}

        <form method="post" class="needs-validation" novalidate>
            <!-- Users -->
            <div class="form-floating mt-3">
                <select class="form-select" name="user_id" id="floatingCareerUser"
                    aria-describedby="helpBlockCareerUser" required>
                    <option value="" selected disabled>Select a user</option>
                    {% for user in users %}
                    <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }} ({{ user.email }})</option>
                    {% endfor %}
                </select>
                <label for="floatingCareerUser" class="px-3">
                    User
                </label>
                <span class="form-text" id="helpBlockCareerUser">
                    Select a user
                </span>
                <span class="valid-feedback">
                    Looks good!
                </span>
                <span class="invalid-feedback">
                    Please select a user
                </span>
            </div>

            <!-- Careers -->
            <div class="form-floating mt-3">
                <select class="form-select" name="career_id" id="floatingCareerCareer"
                    aria-describedby="helpBlockCareerCareer" required>
                    <option value="" selected disabled>Select a career</option>
                    {% for career in careers %}
                    <option value="{{ career.id }}">{{ career.name }}</option>
                    {% endfor %}
                </select>
                <label for="floatingCareerCareer" class="px-3">
                    Career
                </label>
                <span class="form-text" id="helpBlockCareerCareer">
                    Select a career
                </span>
                <span class="valid-feedback">
                    Looks good!
                </span>
                <span class="invalid-feedback">
                    Please select a career
                </span>
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary mt-3">Create</button>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/form-submission-validation.js"></script>
{% endblock %}