{% extends "/layout/base.html" %}

{% block content %}
<div class="container card p-0">
    <!-- Card header -->
    <h1 class="card-header text-center">Log In</h1>

    <!-- Card body -->
    <div class="card-body p3">
        {% if message %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}

        <form method="post" class="needs-validation" novalidate>
            <!-- Email -->
            <div class="form-floating mt-3">
                <input type="email" class="form-control" name="email" id="floatingEmail" placeholder="Your email"
                    aria-describedby="helpBlockEmail" required>
                <label for="floatingEmail" class="px-3">
                    Email
                </label>
                <span class="form-text" id="helpBlockEmail">
                    Enter your email
                </span>
                <span class="valid-feedback">
                    Looks good!
                </span>
                <span class="invalid-feedback">
                    Please enter your email address
                </span>
            </div>

            <!-- Password -->
            <div class="form-floating mt-3">
                <input type="password" class="form-control" name="password" id="floatingPassword"
                    placeholder="Your password" aria-describedby="helpBlockPassword" required>
                <label for="floatingPassword" class="px-3">
                    Password
                </label>
                <span class="form-text" id="helpBlockPassword">
                    Enter your password
                </span>
                <span class="valid-feedback">
                    Looks good!
                </span>
                <span class="invalid-feedback">
                    Please enter your password
                </span>
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary mt-3">Log In</button>
        </form>
    </div>

    <!-- Card footer -->
    <div class="card-footer">
        <p class="text-center m-0">
            Don't have an account? <a href="/users/sign-up">Sign Up</a>
        </p>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/form-submission-validation.js"></script>
{% endblock %}