<nav class="navbar navbar-expand-lg bg-body-tertiary mb-3">
    <div class="container-fluid">
        <!-- Logo -->
        <a class="navbar-brand" href="#">Navbar scroll</a>

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Toggleable content -->
        <div class="collapse navbar-collapse" id="navbarScroll">
            <!-- List of links -->
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 50vh;">
                <!-- <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Link
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Link</a>
                </li> -->

                <!-- ADMIN PANEL -->
                {% if role == "admin" %} <!-- No mostrar este link si el usuario no es admin -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if request.path.startswith('/admin/') %}active{% endif %}"
                        href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Admin
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/admin/">Admin panel</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <!-- Users links -->
                        <li><a class="dropdown-item" href="/admin/show-users/">Show users</a></li>
                        <li><a class="dropdown-item" href="/admin/create-user/">Create user</a></li>
                        <li><a class="dropdown-item" href="/admin/add-user-to-career/">Add user to career</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <!-- Skill links -->
                        <li><a class="dropdown-item" href="/admin/create-skill/">Create skill</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <!-- Faculty links -->
                        <li><a class="dropdown-item" href="/admin/create-faculty/">Create faculty</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <!-- Career links -->
                        <li><a class="dropdown-item" href="/admin/create-career/">Create career</a></li>
                    </ul>
                </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link {% if request.path.startswith('/users/') %}active{% endif %}"
                        href="/users/">Users panel</a>
                </li>

                <!-- LOGOUT -->
                {% if request.cookies.access_token %} <!-- No mostrar este link si no existe la cookie access_token -->
                <li class="nav-item">
                    <a class="nav-link" href="/users/log-out">
                        <i class="bi bi-box-arrow-right"> Log Out</i>
                    </a>
                </li>
                {% endif %}
            </ul>

            <!-- Search form -->
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>